<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<% htmlWebpackPlugin.files.chunks[chunk].css.forEach(function(css){ %>
<link rel="stylesheet" href="<%= css %>">
<% }) %>
<% } %>

<section class="cc-main-container">

	<% if(webpackConfig.env==='development') { %>
	<nav class="cc-side-container">
		<ul>
			<li><a ui-sref=".user">user</a></li>
			<li><a ui-sref=".system">system</a></li>
		</ul>
	</nav>
	<% } %>
	<ui-view class="cc-content-container"></ui-view>

</section>

<% var i = 0; for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" seq="<%= i++ %>"></script>
<% } %>
