<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<% htmlWebpackPlugin.files.chunks[chunk].css.forEach(function(css){ %>
<link rel="stylesheet" href="<%= css %>">
<% }) %>
<% } %>

<section class="cc-main-container" ng-controller="AppCtrl as app">

	<% if(webpackConfig.env!=='iframe') { %>
	<cc-menu-bar class="cc-side-container"
	             unfold="app.menusOptions.unfold"
	             menu-source="app.menusOptions.menusResource"
	             shop-source="app.menusOptions.shopsResource">
	</cc-menu-bar>
	<% } %>

	<ui-view class="cc-content-container"></ui-view>

</section>

<% var i = 0; for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" seq="<%= i++ %>"></script>
<% } %>
